<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>

    <div class="container">
        <h1>All Events</h1>

        <!-- unless: opposite of if statement  -->
        <p th:unless="${events} and ${events.size()}">No Events Found</p>

        <table class="table highlighted">
            <thead>
                <tr class="striped">
                    <th>Event Title</th>
                    <th>Event Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.title}"></td>
                    <td th:text="${event.description}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>